@page
@using AcademyWebApp.Model
@model AcademyWebApp.Pages.Academy.IndexModel

@{
    ViewData["Title"] = "Academy's Students";
    Layout = "Shared/_Layout";
}
<div>
    <a href="/Academy/Create">Create</a>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th>Group</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.BirthDate.ToShortDateString()</td>
            <td>@student.Group.Name</td>
        </tr>
    }
    </tbody>
</table>